<div class='container px-5 px-sm-0'>
    <div class='row'>
        <div class='col-md-3'>
            <h2>User</h2>
            <%= render 'publics/users/user', user: @post.user %>
            <%= render 'publics/users/form', user: @post.user %>
        </div>
        
        <div class='col-md-8 offset-md-1'>
            <div class="card-list-container">
                <div class="card w-60 mx-auto mt-4 shadow-lg">
                    <% if @post.image_id.present?%>
                        <%= image_tag @post.image_id, class:"card-img-top" %>
                    <% end %>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-text">
                                    <p class="text-dark link-light"><%= @post.text %></p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-3", id="favorite_buttons_<%= @post.id %>"><%= render 'publics/post_favorites/favorite' ,post: @post %></div>
                                    <div class="col-md-3", id="comments_count"><%= render 'publics/post_comments/comment_count' ,post: @post %></div>
                                    <% if current_user == @post.user %>
                                        <div class="col-md-3 post">
                                            <%= link_to edit_post_path(@post) do %>
                                                <i class="fas fa-cogs"></i>
                                                <span class="edit">編集</span>
                                            <% end %>
                                        </div>
                                        <div class="col-md-3 post">
                                            <%= link_to @post, method: :delete, data: { confirm: '本当に消しますか？' } do %>
                                                <i class="fas fa-trash-alt"></i>
                                                <span class="edit">削除</span>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <% if @post.image_id.present?%>
                <div class="tag-box mt-4">
                    <h6>画像タグ</h6>
                    <div class="row">
                        <% @post.tags.each do |tag| %>
                         <div class="col-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="card-text">
                                        <span class="label">
                                                <%= tag.name %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            
            <div id="comments_area">
                <%= render 'publics/post_comments/index' ,post: @post %>
            </div>
            <%= render 'publics/post_comments/comment' ,post: @post, post_comment: @post_comment %>
        </div>
    </div>
</div>
