<div class='container px-5 px-sm-0'>
    <div class='row mt-5'>
        <div class='col-md-5'>
            <table class='table'>
                <tr>
                    <%= image_tag @group.get_image_id,  class:"card-img-top" %>
                </tr>
                <tr>
                    <th><%= @group.title %></th>
                    <th></th>
                </tr>
                <tr>
                    <th>introduction</th>
                    <th></th>
                </tr>
                <tr>
                    <th><%= @group.introduction %></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th><%= link_to 'Destroy', admins_group_all_destroy_path(@group), method: :delete, data: { confirm: '本当に消しますか？' } %></th>
                </tr>
            </table>
        </div>
        <div class='col-md-7'>
            <%= render 'admins/users/index' ,users: @users %>
        </div>
    </div>
</div>

