<div class='container px-5 px-sm-0'>
    <div class='row'>
        <div class='col-md-3'>
            <h2>User</h2>
            <%= render 'publics/users/user', user: current_user %>
            <%= link_to 'new', new_post_path %>
        </div>
        <div class='col-md-7 offset-md-2'>
            <div class="row">
                <div class="col-6">
                    <%= current_user.name %>
                </div>
                <div class="col-6">
                    <%= @user.name %>
                </div>
                <div class="row w-100">
                    <div id="message">
                        <%= render 'room', chats: @chats %>
                    </div>
                </div>
            </div>
            <%= render 'form', chat: @chat %>
        </div>
    </div>
</div>
