 <div class="mt-4">
  <h6>コメント</h6>
</div>
<table class="table">
  <tbody>
    <% post.post_comments.each do |post_comment| %>
      <tr>
        <td>
          <%= link_to admins_user_path(post_comment.user) do %>
            <%= image_tag post_comment.user.get_image_id, size: "50x50" %><br>
            <%= post_comment.user.name %>
          <% end %>
        </td>
        <td><%= post_comment.comment %></td>
        <td>
          <%= link_to post_post_comment_path(post,post_comment), remote:true, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>